.intro__subtitle {
  margin: calc(36px + 3%) 40px 0;
  font-size: 36px;
  font-weight: bold;
  /*line-height: 1.5;*/
  position: relative;
  z-index: 2;
  color: white;
}

@media screen and (min-width: 768px) {
  .intro__subtitle {
    margin: calc(36px + 3%) 45vw 0 85px;
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__subtitle {
    margin-right: 45vw;
    color: black;
  }
}

@media screen and (min-width: 1200px) {
  .intro__subtitle {
    font-size: 45px;
    margin-top: 38px;
  }
}
