.quote {

}

@media screen and (min-width: 768px) {
  .quote {
    width: calc(50% - 30px);
    margin-right: 60px;
  }
  .quote:nth-child(even) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .quote {
    width: calc(25% - 45px);
    /*margin-right: 60px;*/
  }
  .quote:nth-child(2) {
    margin-right: 60px;
  }
}
