.place__text-block {
  padding: 35px;
}

@media screen and (min-width: 768px) {
  .place__text-block {
    display: grid;
    grid-template-rows: minmax(min-content, 50%) minmax(50%, max-content);
    padding: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .place__text-block {
    padding: 10% 11%;
  }
}
