.place {
  display: grid;
  background-color: #f2f2f2;
}

@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: repeat(2, 50%);
  }

  .place:nth-child(odd) .place__text-block {
    order: 1;
  }
}