.hamburger-menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 80px;
  width: 26px;
  height: 26px;
  /*cursor: pointer;*/
  /*z-index: 1;*/
}

.hamburger-menu__btn::after {
  content: '+';
  position: absolute;
  top: -2px;
  right: -50px;
  font-size: 24px;
  transition-duration: .25s;
}

@media screen and (min-width: 768px) {
  .hamburger-menu__btn {
    display: none;
  }
}
