.header__link {
  text-decoration: none;
  color: black;
  display: block;
  line-height: 2;
  /*font-weight: bold;*/
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .header__link {
    font-size: 17px;
    line-height: 1.2;
  }

  .header__link:hover {
    opacity: .5;
    transition: opacity .2s;
  }
}
