.place {
  display: grid;
  grid-template-rows: repeat(auto-fit, auto);
}

@media screen and (min-width: 768px) {
  .place {
    grid-template: auto/repeat(2, 1fr);
  }

  .place:nth-child(odd) .place__text-block {
    order: 1;
  }
}
