.header__list {
  padding: 0;
  margin: 44px 0 0;
  list-style-type: none;
  /*display: flex;*/
  flex-direction: column;
  text-align: center;

  /*visibility: hidden;*/
  display: none;
  transition-duration: .25s;
}

@media screen and (min-width: 768px) {
  .header__list {
    margin-top: 0;
    display: flex;
    flex-direction: row;
  }
}
